/* Estilo del body*/
body {
  font-family: 'Noto Sans', sans-serif;
}
/* Estilo del header*/
header {
  text-align: center;
  background-color: #e28c8c;
}

/* Estilo de la pestaña */
.tablinks {
    overflow: hidden;
    border: 1px solid rgb(165, 75, 75);
    background-color: #e28c8c;
  }
  
  
  /* Estilo de los botones del contenido de las pestañas */
  .tab .tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #e28c8c;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #e28c8c;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #e28c8c;
    height: auto;
    text-align: center;
  }

  .tabcontent button {
    background-color: inherit;
    border: 1px solid #e28c8c;
    padding: 14px 16px;
    transition: 0.3s;
  }

  /*Estilo del footer con el resultado*/

  #divSuma {
    text-align: center;
    display: none;
  }
  
  #divRango {
    text-align: center;
    display: none;
  }